<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="MembershipDB" connectionString="metadata=res://*/ProviderModel.csdl|res://*/ProviderModel.ssdl|res://*/ProviderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ProviderSampleDB;user id=gguser;password=66u$er;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <!--
        <membership defaultProvider="MyMembershipProvider">
            <providers>
                <clear/>
                <add name="MyMembershipProvider"
                     type="StarThrower.WcfProviders.WcfMembershipProvider"
                     enablePasswordRetrieval="false"
                     enablePasswordReset="true"
                     requiresQuestionAndAnswer="false"
                     requiresUniqueEmail="false"
                     maxInvalidPasswordAttempts="5"
                     minRequiredPasswordLength="6"
                     minRequiredNonalphanumericCharacters="0"
                     passwordAttemptWindow="10"
                     applicationName="/" />
            </providers>
        </membership>
        -->
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear/>
        <add name="MyMembershipProvider" type="StarThrower.EfProviders.EfMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <!--
        <profile defaultProvider="MyProfileProvider">
            <providers>
                <clear/>
                <add name="MyProfileProvider" type="StarThrower.WcfProviders.WcfProfileProvider" applicationName="/" />
            </providers>
        </profile>
        -->
    <profile>
      <providers>
        <clear/>
        <add name="MyProfileProvider" type="StarThrower.EfProviders.EfProfileProvider" connectionStringName="MembershipDB" applicationName="/"/>
      </providers>
    </profile>
    <!--
        <roleManager enabled="true" defaultProvider="MyRoleProvider">
            <providers>
                <clear/>
                <add name="MyRoleProvider" type="StarThrower.WcfProviders.WcfRoleProvider" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
            </providers>
        </roleManager>
        -->
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear/>
        <add name="MyRoleProvider" type="StarThrower.EfProviders.EfRoleProvider" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="public" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="role" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="roleSsl" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="membership" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="membershipSsl" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--<endpoint name="publicService" address="http://services.gallerygorilla.com/PublicService/rest" binding="webHttpBinding" contract="GalleryGorilla.Corporate.Services.Contract.IPublicService" behaviorConfiguration="web" bindingConfiguration="public"/>-->
      <endpoint name="publicService" address="http://localhost:4984/PublicService/rest" binding="webHttpBinding" contract="GalleryGorilla.Corporate.Services.Contract.IPublicService" behaviorConfiguration="web" bindingConfiguration="public"/>
      <!--<endpoint name="roleService" address="https://services.gallerygorilla.com/Secure/RoleService/rest" binding="webHttpBinding" contract="StarThrower.WcfProviders.Contract.IRoleService" behaviorConfiguration="web" bindingConfiguration="roleSsl" />-->
      <endpoint name="roleService" address="http://localhost:4984/Secure/RoleService/rest" binding="webHttpBinding" contract="StarThrower.WcfProviders.Contract.IRoleService" behaviorConfiguration="web" bindingConfiguration="role"/>
      <!--<endpoint name="membershipService" address="https://services.gallerygorilla.com/Secure/MembershipService/rest" binding="webHttpBinding" contract="StarThrower.WcfProviders.Contract.IMembershipService" behaviorConfiguration="web" bindingConfiguration="membershipSsl" />-->
      <endpoint name="membershipService" address="http://localhost:4984/Secure/MembershipService/rest" binding="webHttpBinding" contract="StarThrower.WcfProviders.Contract.IMembershipService" behaviorConfiguration="web" bindingConfiguration="membership"/>
    </client>
  </system.serviceModel>
</configuration>