<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MembershipDB" connectionString="metadata=res://*/ProviderModel.csdl|res://*/ProviderModel.ssdl|res://*/ProviderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ProviderSampleDB;user id=gguser;password=66u$er;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
