<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>

        <!-- indicates whether or not the Admin.aspx page is secured by ssl -->
        <add key="adminIsSecured" value="false"/>

        <!-- serviceUserName - the user name for authentication to StephenElmer.AppServices -->
        <add key="serviceUserName" value="Steve"/>

        <!-- servicePassword - the password for authentication to StephenElmer.AppServices -->
        <add key="servicePassword" value="Bse5150$"/>

        <!-- ignoreCertificateValidation - whether or not to ignore certificate errors (as in the case of using self-signed cert.) -->
        <add key="ignoreCertificateValidation" value="true"/>

    </appSettings>

    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="public" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
                    <security mode="None">
                        <transport clientCredentialType="None"/>
                    </security>
                </binding>
            </webHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <!--<endpoint name="publicService" address="http://services.gallerygorilla.com/PublicService/rest" binding="webHttpBinding" contract="GalleryGorilla.Corporate.Services.Contract.IPublicService" behaviorConfiguration="web" bindingConfiguration="public"/>-->
            <endpoint name="publicService" address="http://localhost:4984/PublicService/rest" binding="webHttpBinding" contract="GalleryGorilla.Corporate.Services.Contract.IPublicService" behaviorConfiguration="web" bindingConfiguration="public"/>
        </client>
    </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
